body {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

#gameContainer {
  position: relative;
  height: auto;
  width: 50%;
  margin: 100px auto;
  border-radius: 20px;
  font-family: helvetica, arial;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  text-align: center; }
  #gameContainer h1 {
    position: relative;
    width: auto;
    margin: 0 auto; }
  #gameContainer #funds {
    width: 50%;
    background-color: rgba(14, 161, 17, 0.75);
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px; }
  #gameContainer #warning {
    position: relative;
    margin: 20px auto;
    display: none;
    height: auto;
    width: 50%;
    background-color: red;
    border-radius: 10px;
    padding: 20px; }
  #gameContainer label {
    font-size: 1.4em; }
  #gameContainer input {
    margin: 20px;
    padding: 0px;
    font-size: 1.2em;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    border: none; }
  #gameContainer #submit {
    margin: 20px auto;
    padding: 10px;
    height: auto;
    width: auto;
    border: none;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 78, 98, 0.75);
    font-size: 1.5em; }
  #gameContainer .buttonShadow:active {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.95) inset; }
  #gameContainer #betwarning {
    position: absolute;
    height: auto;
    width: auto;
    z-index: 100;
    display: none; }
  #gameContainer .talkbubble {
    width: 120px;
    height: 80px;
    background: red;
    position: absolute;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
    #gameContainer .talkbubble p {
      margin: 0;
      padding: 10px; }
  #gameContainer .talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid red;
    border-bottom: 13px solid transparent; }
  #gameContainer #playagain {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    padding: 20px;
    font-size: 1.4em; }
